{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>My Tasks</h1>
        {% if not tasks6 %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks7 in tasks6 %}
                        <tr>
                            <td>{{ tasks7.name }}</td>
                            <td>{{ tasks7.start_date }}</td>
                            <td>{{ tasks7.due_date }}</td>
                            <td>{{ tasks7.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
