{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>My Projects</h1>
        <p>
            <li>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </li>
        </p>
        {% if not proj2 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proj3 in proj2 %}
                        <tr>
                            <td>
                                <li>
                                    <a href="{% url 'show_project' proj3.id %}">{{ proj3.name }}</a>
                                </li>
                            </td>
                            <td>{{ proj3.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
