{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>{{ pro2.name }}</h1>
        <p>{{ pro2.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if pro2.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro5 in pro4 %}
                        <tr>
                            <td>{{ pro5.name }}</td>
                            <td>{{ pro5.assignee.username }}</td>
                            <td>{{ pro5.start_date }}</td>
                            <td>{{ pro5.due_date }}</td>
                            <td>{{ pro5.Is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock main %}
